:root {
    --c-surface: hsl(30, 38%, 92%);

    --c-primary: hsl(158, 36%, 37%);
    --c-primary-hover: hsl(158, 42%, 18%);
    --c-onPrimary: hsl(0, 0%, 100%);

    --c-container: hsl(0, 0%, 100%);
    --c-onContainer: hsl(228, 12%, 48%);
    --c-onContainer-var: hsl(212, 21%, 14%);

    --ff-display: "Fraunces", serif;
    --ff-default: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    background-color: var(--c-surface);
    display: flex;
    justify-content: center;
    align-items: center;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* TEXT STYLES */
.text-display {
    color: var(--c-onContainer-var);
    font-family: var(--ff-display);
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.2rem;
}

.text-body {
    color: var(--c-onContainer);
    font-family: var(--ff-default);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.3rem;
}

.text-button {
    color: var(--c-onPrimary);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: auto;
}

.text-overline {
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* ELEMENT STYLES */
.product-card {
    background-color: var(--c-container);
    width: 91%;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 60rem;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 41.25em) {
        flex-direction: row;
    }
}

.product-card__content {
    padding: 2.4rem;

    @media screen and (min-width: 41.25em) {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 41.25em) {
    .product-card__content {
        width: 50%;
    }
}

.product-card__image {
    @media screen and (min-width: 41.25em) {
        width: 50%;
    }
}

.product-card__category {
    margin-bottom: 1.2rem;

    @media screen and (min-width: 41.25em) {
        margin-bottom: 2rem;
    }
}

.product-card__title {
    margin-bottom: 1.6rem;

    @media screen and (min-width: 41.25em) {
        margin-bottom: 2.4rem;
    }
}

.product-card__description {
    margin-bottom: 2.4rem;

    @media screen and (min-width: 41.25em) {
        margin-bottom: 3rem;
    }
}

.product-card__prices {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;

    @media screen and (min-width: 41.25em) {
        margin-bottom: 3rem;
    }
}

.product-card__discount {
    color: var(--c-primary);
}

.product-card__original {
    text-decoration: line-through;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.3rem;
}

.product-card__cta {
    background-color: var(--c-primary);
    border: none;
    border-radius: 0.8rem;
    width: 100%;
    padding: 1.5rem 0;
    cursor: pointer;
}

.product-card__cta:hover {
    transition: 0.2s;
    background-color: var(--c-primary-hover);
}

.product-card__cta img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.2rem;
}

.image-mobile {
    @media screen and (min-width: 41.25em) {
        display: none;
    }
}

.image-desktop {
    display: none;

    @media screen and (min-width: 41.25em) {
        display: block;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}